<!-- About Section -->
<section id="about" class="about">
    <div class="content-wrapper">
        <div class="col-lg-8 col-lg-offset-2">
            <h3>{{ site.aboutTitle }}</h3>
            <div class="row about-details" style="text-align: left; padding:15px;">
                {% assign animationDelay = 0 %}

                    <div class="animated hiding" data-animation="fadeInDown" data-delay="{{ animationDelay }}">

                        <p>
                          The Smart Building and Internet of Things (SBIoT) workshop focuses on  emergence of new technologies such as the Internet of Things (IoT), which are set
                          to transform the field of the built environment and advance development of smart buildings. These technologies will improve building performance,
                          occupant comfort and safety. Smartwatches, for example, have shown the ability to provide a rich set of thermal comfort data about a building
                          occupant and transmit it wirelessly to control HVAC systems. However, like any new technology, the transformation has been slow, leaving
                          us unable to reap the maximum potential benefits. Thus, the aim of this workshop is to address the technology gap between industry and academia
                          and the barriers to adopting new technologies.                        </p>
                        <p>
                          The challenges to be addressed at this workshop include, but are not limited to:
                          <ul>
                            <li>Defining a smart building&#8212;‘Smart’ has varying degrees and different scopes among differing views of energy, comfort, health, and environment.</li>
                            <li>Understanding the technology gap between current university programs and industry with respect to the emerging area of smart buildings.</li>
                            <li>Brainstorming about the best ways to industry and academia, together can fill this gap.</li>
                            <li>Determining industry’s primary benefits in adopting and developing smart building technology.</li>
                          </ul>
                        </p>
                        <p>
                          The SBIoT workshop will combine formal presentations from thought leaders in academia, industry, and government with facilitated sessions to map out the path forward.
                        </p>
                        <p>
                          <b>
                          Invited speakers from Emerson Commercial & Residential Solutions, Amazon, Department of Energy, Pacific Northwest National Laboratory, Center for the Built Environment, Nebraska Applied Research Institute, and more!
                        </b>
                      </p>
                    </div>

            </div>
        </div>
    </div>
</section>
<!-- End About Section -->
