<!-- About Section -->
<section id="about" class="about">
    <div class="content-wrapper">
        <div class="col-lg-8 col-lg-offset-2">
            <h3>{{ site.aboutTitle }}</h3>
            <div class="row about-details" style="text-align: left; padding:15px;">
                {% assign animationDelay = 0 %}

                    <div class="animated hiding" data-animation="fadeInDown" data-delay="{{ animationDelay }}">

                        <p>
                          The emergence of new technologies such as the Internet of Things (IoT) technology looks set to transform the field of the built environment to be smarter or what is known as a smart building. Smartwatches, for example, have shown the ability to provide a rich set of thermal comfort data about a building’s occupant and transmit it wirelessly to control the building’s HVAC systems. However, like any new technology, there is a significant risk that the transformation is slow and will not reap the maximum potential benefit. Thus, the aim of this workshop is to address the industry/academia technology gap and address the hurdles of adopting the new technologies for improving buildings’ performance and building occupants’ comfort and to improve the safety of these buildings.
                        </p>
                        <p>
                          The challenges to be addressed by this workshop include, but are not limited to:
                          <ul>
                            <li>Defining what a smart building means? as ‘smart’ has a varying degree and different scope and short/long views among energy, comfort, health, environment depending on stakeholders.</li>
                            <li>Understand the technology gap between current university programs with respect to the emerging area of smart buildings.</li>
                            <li>Brainstorm about finding the best way to fill this gap.</li>
                            <li>Is industry really interested in smart buildings and what is in it for them?</li>
                        </p>
                    </div>

            </div>
        </div>
    </div>
</section>
<!-- End About Section -->
